In [293]:
import pandas as pd
import numpy as np
source = pd.read_csv (r'C:\Users\blync\Downloads\source.csv')

In [294]:
source2 = pd.DataFrame(data = source)

In [295]:
source3 = source2.actions.str.split('}, {', expand=True)

In [296]:
source4 = source3.stack().reset_index()

In [297]:
for col in source4.columns:
    print(col)

level_0
level_1
0

In [298]:
source4.columns = ['a', 'b', 'Information']

In [299]:
new2 = source4.Information.str.split(":", n = 1, expand = True) # making separate first name column from new data frame 
source4["Letter"]= new2[0] # making separate last name column from new data frame 

new2 = source4.Information.str.split(":", n = 2, expand = True)
source4["Action_Number"]= new2[1] # Dropping old Name columns

new2 = source4.Information.str.split(":", n = 3, expand = True)
source4["Action"]= new2[2] # Dropping old Name columns

new3 = source4.Action_Number.str.split(",", n = 1, expand = True)
source4["Number"]= new3[0] # Dropping old Name columns

source5=source4.drop(['Action_Number','Information','a','b'], axis=1)
print(source5)

      Letter          Action Number
0      [{"A"       "views"}]     47
1      [{"K"   "conversions"     70
2        "J"       "views"}]     83
3      [{"F"          "junk"      6
4        "K"         "noise"     81
...      ...             ...    ...
29932  [{"J"        "clicks"     49
29933    "D"          "junk"     20
29934    "A"         "views"     77
29935    "F"   "conversions"      2
29936    "J"       "noise"}]     78

[29937 rows x 3 columns]

In [300]:
source5['Letter'] = source5['Letter'].str.replace('[','')
source5['Letter'] = source5['Letter'].str.replace('{','')
source5['Letter'] = source5['Letter'].str.replace('"','')
source5['Action'] = source5['Action'].str.replace(']','')
source5['Action'] = source5['Action'].str.replace('}','')
source5['Action'] = source5['Action'].str.replace('"','')
source5['Action'] = source5['Action'].str.replace(' ','')
source5['Letter'] = source5['Letter'].str.replace(' ','')
source5['Number'] = source5['Number'].str.replace(' ','')
source5['Number'] = source5.Number.astype(float)
print(source5)

      Letter       Action  Number
0          A        views    47.0
1          K  conversions    70.0
2          J        views    83.0
3          F         junk     6.0
4          K        noise    81.0
...      ...          ...     ...
29932      J       clicks    49.0
29933      D         junk    20.0
29934      A        views    77.0
29935      F  conversions     2.0
29936      J        noise    78.0

[29937 rows x 3 columns]

In [301]:
source6 = source5.drop(source5[source5.Letter != 'H'].index)
source7 = source6.drop(source6[source6.Action != 'clicks'].index)
print(source7)

      Letter  Action  Number
18         H  clicks    31.0
25         H  clicks    40.0
84         H  clicks     1.0
189        H  clicks    78.0
193        H  clicks     3.0
...      ...     ...     ...
29581      H  clicks    53.0
29610      H  clicks    60.0
29779      H  clicks    39.0
29874      H  clicks    61.0
29898      H  clicks    70.0

[623 rows x 3 columns]

In [302]:
total_times=sum(source7.Number)
print('The total times source H reported on clicks was: ' + str(total_times))

The total times source H reported on clicks was: 31779.0

### Question 4

In [337]:
source5['letac'] = source5['Letter'] + ' ' + source5['Action']
source6 = source5.drop(['Letter', 'Action'], axis = 1)
source6

       Number          letac
0        47.0        A views
1        70.0  K conversions
2        83.0        J views
3         6.0         F junk
4        81.0        K noise
...       ...            ...
29932    49.0       J clicks
29933    20.0         D junk
29934    77.0        A views
29935     2.0  F conversions
29936    78.0        J noise

[29937 rows x 2 columns]

In [338]:
source7 = source6.groupby(['letac'])['Number'].sum()
source7 = pd.DataFrame(source7).reset_index()
source7

            letac   Number
0        A clicks  30356.0
1   A conversions  30277.0
2          A junk  29547.0
3         A noise  30309.0
4         A views  27547.0
5        B clicks  28087.0
6   B conversions  30171.0
7          B junk  30159.0
8         B noise  31241.0
9         B views  30459.0
10       C clicks  28393.0
11  C conversions  29531.0
12         C junk  29674.0
13        C noise  31358.0
14        C views  30621.0
15       D clicks  27919.0
16  D conversions  28179.0
17         D junk  31303.0
18        D noise  30383.0
19        D views  29300.0
20       E clicks  29496.0
21  E conversions  30213.0
22         E junk  28701.0
23        E noise  28644.0
24        E views  29457.0
25       F clicks  28409.0
26  F conversions  27683.0
27         F junk  29577.0
28        F noise  31091.0
29        F views  29612.0
30       G clicks  28364.0
31  G conversions  28617.0
32         G junk  27898.0
33        G noise  31990.0
34        G views  31018.0
35       H clicks  31779.0
36  H conversions  28293.0
37         H junk  27426.0
38        H noise  29982.0
39        H views  30144.0
40       J clicks  27325.0
41  J conversions  30969.0
42         J junk  31003.0
43        J noise  29193.0
44        J views  29908.0
45       K clicks  28309.0
46  K conversions  31846.0
47         K junk  29314.0
48        K noise  31615.0
49        K views  33030.0

In [347]:
source8 = source7['letac'].str.split(' ', n=1, expand = True)
source8 = source8.rename(columns={0: 'Letter', 1: 'Action'})
source8['Number']=source7['Number']
source8

   Letter       Action   Number
0       A       clicks  30356.0
1       A  conversions  30277.0
2       A         junk  29547.0
3       A        noise  30309.0
4       A        views  27547.0
5       B       clicks  28087.0
6       B  conversions  30171.0
7       B         junk  30159.0
8       B        noise  31241.0
9       B        views  30459.0
10      C       clicks  28393.0
11      C  conversions  29531.0
12      C         junk  29674.0
13      C        noise  31358.0
14      C        views  30621.0
15      D       clicks  27919.0
16      D  conversions  28179.0
17      D         junk  31303.0
18      D        noise  30383.0
19      D        views  29300.0
20      E       clicks  29496.0
21      E  conversions  30213.0
22      E         junk  28701.0
23      E        noise  28644.0
24      E        views  29457.0
25      F       clicks  28409.0
26      F  conversions  27683.0
27      F         junk  29577.0
28      F        noise  31091.0
29      F        views  29612.0
30      G       clicks  28364.0
31      G  conversions  28617.0
32      G         junk  27898.0
33      G        noise  31990.0
34      G        views  31018.0
35      H       clicks  31779.0
36      H  conversions  28293.0
37      H         junk  27426.0
38      H        noise  29982.0
39      H        views  30144.0
40      J       clicks  27325.0
41      J  conversions  30969.0
42      J         junk  31003.0
43      J        noise  29193.0
44      J        views  29908.0
45      K       clicks  28309.0
46      K  conversions  31846.0
47      K         junk  29314.0
48      K        noise  31615.0
49      K        views  33030.0

In [388]:
source9= source8[source8['Action'].str.contains('noise')]
source10 = source8[source8['Action'].str.contains('junk')]
source11 = pd.concat([source9, source10])
source12 = source11.sort_values(['Letter'])
source12

   Letter Action   Number
3       A  noise  30309.0
2       A   junk  29547.0
8       B  noise  31241.0
7       B   junk  30159.0
13      C  noise  31358.0
12      C   junk  29674.0
18      D  noise  30383.0
17      D   junk  31303.0
23      E  noise  28644.0
22      E   junk  28701.0
28      F  noise  31091.0
27      F   junk  29577.0
33      G  noise  31990.0
32      G   junk  27898.0
37      H   junk  27426.0
38      H  noise  29982.0
42      J   junk  31003.0
43      J  noise  29193.0
48      K  noise  31615.0
47      K   junk  29314.0

In [413]:
source13= pd.DataFrame(source12).reset_index()
source14 = source13.drop(['index'], axis =1)
source14

   Letter Action   Number
0       A  noise  30309.0
1       A   junk  29547.0
2       B  noise  31241.0
3       B   junk  30159.0
4       C  noise  31358.0
5       C   junk  29674.0
6       D  noise  30383.0
7       D   junk  31303.0
8       E  noise  28644.0
9       E   junk  28701.0
10      F  noise  31091.0
11      F   junk  29577.0
12      G  noise  31990.0
13      G   junk  27898.0
14      H   junk  27426.0
15      H  noise  29982.0
16      J   junk  31003.0
17      J  noise  29193.0
18      K  noise  31615.0
19      K   junk  29314.0

In [455]:
a=0
higher_value = []
higher_letter = []
while a<19:
    if source14['Letter'][a] == source14['Letter'][a+1]:
        if source14['Number'][a] > source14['Number'][a+1]:
            b = source14['Action'][a]
            c = source14['Letter'][a]
            higher_value.append(b)
            higher_letter.append(c)
            a=a+1
        else:
            b = source14['Action'][a+1]
            c = source14['Letter'][a+1]
            higher_value.append(b)
            higher_letter.append(c)
            a=a+1
    else:
        a=a+1

In [456]:
higher_value = pd.DataFrame(higher_value)
higher_letter= pd.DataFrame(higher_letter)

higher_letter['Value'] = higher_value
#higher_table2['Letter']=higher_letter 
#higher_table2['Action'] = higher_value
#higher_table2
higher_letter

   0  Value
0  A  noise
1  B  noise
2  C  noise
3  D   junk
4  E   junk
5  F  noise
6  G  noise
7  H  noise
8  J   junk
9  K  noise

In [457]:
higher_letter2 = higher_letter.drop(higher_letter[higher_letter.Value != 'junk'].index)
higher_letter2

   0 Value
3  D  junk
4  E  junk
8  J  junk

In [475]:
answer = higher_letter2.loc[:,0].apply(str)
answer2 = ",".join(answer)
answer2

'D,E,J'

In [476]:
print('The sources that reported more junk than noise were: ' + answer2)

The sources that reported more noise than junk were: D,E,J

### Problem 5